{
  "extends": [
    "react-app"
  ],
  "plugins": [
    "react",
    "flowtype",
    "import"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    // if needed
  },
  "rules": {
    // for rules deviating from eslint-config-msd
    "max-len": ["warn", 120],
    "react/require-default-props": "warn",
    "import/named": "error",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-closing-bracket-location": "off",
    "no-confusing-arrow": ["warn", {"allowParens": true}],
    "arrow-parens": ["warn", "always"]
  }
}
