body {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    height: 100vh;
    overflow-y: scroll;
    color: #3C3F40;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
    /*color: #13c0ab; !* MSD green *!*/
}

strong {
    color: black;
}

/* common styles to share between components */

.limitedWidth {
    flex: 0 1 1200px;
}

.fRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.fCol {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fCenter {
    justify-content: center;
}

.fAround {
    justify-content: space-around;
}

.f1 {
    flex: 1;
}

.horizontalSpace {
    margin: 0 5px;
}

.transitioned {
    transition: .5s;
}

.noWrap {
    white-space: nowrap;
}

.secondaryColor {
    color: #585B5C;
}

.gray {
    color: gray;
}

.secondaryBackground {
    background: #F3F6F8;
}

.body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}
