.Contact {
  padding: 50px 50px;
  height: 100%;
  width: 100vw;
  min-height: 560px;
  position: relative;
  color: #ece9e9;
}

.Contact-content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 30px 30px 30px;
}

.Contact-content a {
  text-decoration: none;
  color: #ffffff;
}

.Contact-upperDiv {
  display: flex;
}

.Contact-inner-div {
  width: 50vw;
}

.Contact-map {
  width: 50vw;
  font-size: 0.8em;
}

.Contact-map img {
  max-width: 50vw;
}

.Contact-companyName {
  color: #ec2b2c;
  font-weight: 900;
}

.Contact-socialMedia {
  padding: 50px;
  text-align: center;
}

.Contact-socialMedia img {
  height: 60px;
  width: 60px;
}

.Contact-facebook:hover {
  background-color: #4267b2;
}

.Contact-mobile {
  display: flex;
  align-items: center;
}

.Contact-mobile svg {
  width: 1.1em;
  height: 1.1em;
}

.Contact-mobile a {
  font-size: 1.1em;
  margin-left: 0.3em;
}

.Contact-formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-inputs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Contact-input-tel {
  margin-right: 0 !important;
}

.Contact-inputWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Contact-input {
  border-radius: 4px;
  height: 2.5em;
  margin-right: 0.8em;
  margin-top: 0.2em;
  padding: 0.2em 0.8em;
  border: 1px solid #1d2120;
}

.Contact-textAreaWrapper {
  width: 100%;
  margin-top: 0.5em;
}

.Contact-textArea {
  border-radius: 4px;
  padding: 1em 0.8em;
  margin-top: 0.2em;
  border: 1px solid #1d2120;
  resize: vertical;
  font-family: 'Open Sans', sans-serif;
}

.Contact-maxWidth {
  max-width: 810px;
  margin: 0 auto;
}

.Contaxt-gdprLabel {
  font-size: 0.5em;
}

.Contaxt-gdprLabelWrapper {
  line-height: 0.5em;
}

.Contaxt-gdprCheckbox {
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.Contact-gdpr {
  line-height: 0.6em;
  display: flex;
  margin: 0.5em 0;
}

.Contact-input-error {
  font-size: 0.5em;
  color: #ec2b2c;
  margin-top: 0.2em;
}

.Contact-button {
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  font-size: 0.8em;
  border: none;
  border-radius: 4px;
}

.Contact-button:hover {
  cursor: pointer;
  background-color: #ec2b2c;
  color: #ece9e9;
}

.Contact-formThank {
  margin-top: 1.2em;
}

@media (max-width: 767px) {
  .Contact {
    padding: 0;
    font-size: 0.8em;
    background: center url('../assets/background/background1.jpg');
  }

  .Contact-content {
    margin-top: 0;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
  }

  .Contact-content h1 {
    padding-top: 20px;
  }

  .Contact-inner-div,
  .Contact-map {
    width: 100vw;
  }

  .Contact-map {
    padding: 20px 0;
  }

  .Contact-upperDiv {
    flex-direction: column;
  }

  .Contact-mobile {
    justify-content: center;
  }

  .Contact-inputs {
    flex-direction: column;
  }

  .Contact-input {
    margin-right: 0;
  }

  .Contact-inputWrapper,
  .Contaxt-gdprLabelWrapper {
    text-align: left;
  }
}
