.ContactUs {
    display: flex;
    justify-content: flex-end;
}

.ContactUs-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.7em;
    line-height: 1em;
    color: #c21f39;
}

.ContactUs-wrapper:hover {
    cursor: pointer;
    color: #ece9e9;
}

.ContactUs-arrowDown {
    margin-left: 5px;
    height: 36px;
    width: 36px;
}