.Footer {
    background-color: rgba(0,0,0,0.8);
    height: auto;
    padding: 10px;
    color: #ECE9E9;
    display: flex;
    justify-content: center;
}

.Footer a {
    text-decoration: none;
    color: #ECE9E9;
}

.Footer-group-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer-companyName {
    font-size: 0.8em;
}

.Footer-contacts {
    font-size: 0.6em;
}

.Footer-phoneNumber {
    padding-right: 10px;
}
