.Header-nav {
    background: rgba(0, 0, 0, 0.7);
    height: 80px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header-logoName {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.Header-logoName img {
    width: 80px;
}

.Header-name {
    font-size: 20px;
    padding: 20px;
}

.Header-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Header-nav li {
    padding: 5px 40px 0 0;
    font-size: 20px;
}
