.Header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.Header-nav {
    background: rgba(0, 0, 0, 0.7);
    height: 80px;
    color: #ECE9E9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header-logo {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    align-items: center;
}

.Header-logo span {
    vertical-align: middle;
}

.Header-logo img {
    width: 80px;
}

.Header-name {
    font-size: 20px;
    padding: 20px;
}

.Header-menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Header-menu li {
    padding: 0 40px 0 0;
    font-size: 20px;
    height: 100%;
}

.Header-nav a {
    text-transform: uppercase;
    cursor: pointer;
}

.Header-menu a {
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #C21F39, #C21F39 50%, #ECE9E9 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.Header-menu a:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}

.Header-menu .active {
    color: #C21F39;
    -webkit-text-fill-color: unset;
}

.Header-burger {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 20px;
}

.Header-burger-bar1,
.Header-burger-bar2,
.Header-burger-bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin-bottom: 6px;
    transition: 0.4s;
}

.change .Header-burger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .Header-burger-bar2 {
    opacity: 0;
}

.change .Header-burger-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
