.MobileMenu {
  top: 80px;
  padding-top: 20px;
  position: fixed;
  background: #000000;
  width: 100%;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 2em;
  left: 100%;
  opacity: 0;
  transition-property: left, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  height: 100vh;
  text-align: center;
}

.MobileMenu a {
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, red, red 50%, #ece9e9 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.MobileMenu a:hover {
  transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

.MobileMenu .active {
  color: red;
  -webkit-text-fill-color: unset;
}

.visible {
  left: 0;
  opacity: 1;
}
