.Reference {
    font-size: 45px;
    padding: 40px 40px;
    min-height: 560px;
    height: 100%;
    width: 100vw;
    background: #000000;
    z-index: 1;
    display: flex;
}

.Reference-arbo,
.Reference-work {
    height: 100%;
    width: 50vw;
}

.Reference-arbo {
    padding-right: 1px;
}

.Reference-work {
    padding-left: 3px;
}

@media (max-width: 767px) {
    .Reference {
      flex-direction: column;
      padding: 0;
    }

    .Reference-arbo,
    .Reference-work {
        width: 100vw;
    }

    .Reference-arbo {
        padding: 0;
    }

    .Reference-work {
        padding: 20px 0 0 0;
    }
}
